<nav>
    <div class="main">
        <div class="site-title">
            <a href="/">
                <h1>Blog İbrahim</h1>
            </a>
            <p>İbrahim Site</p>
        </div>

        <ul>
            <li>
                <a href="/"> Blogs </a>
            </li>
            <li>
                <a href="/home/about"> About </a>
            </li>
            <li>
                <a href="/articles/new"> New Article </a>
            </li>
            <div class="accountSelect" style="width:90px;">
                <a href="/user/loginPage" class="btn btn-dark">Sign In</a>
                <a href="/user/registerPage" class="btn btn-dark">Sign Up</a>
            </div>
        </ul>
    </div>    
</nav>