<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head") %>
<body>
    <%- include("./partials/nav") %>
        <div class="container-sm" style="background-image: url('/bgImage.jpeg');">
            <div class="card-head">
                <h2>ABOUT ME</h2>
            </div>
            <div class="card-body">
                <p id="aboutPageP">
                    Merhaba, blog sayfama hoşgeldiniz. Ben İbrahim Şaşmaz, 24 yaşındayım.
                    Bursa Uludağ Universitesi Bilgisayar Mühendisliği programından 2021 yılında mezun oldum.
                    Javascript/NodeJS framework'ü üzerinde express modülü üzerinde server tarafında web back-end developer
                    olarak uğraşmaktayım. Bu blog sayfamda da çalıştığım alanda ilgimi çeken veya bilgilendirici bulduğum  
                    yazıları blog şeklinde eklemekteyim.
                </p>
            </div>
        </div>
    <%- include("./partials/footer") %>
</body>
</html>